name: Run sevenzlib (Linux)

# Trigger manually or on push to the workflow repo (adjust as needed)
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  run-sevenzlib:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Pragma
        uses: Silverlan/pragma/github_actions/setup@develop
        with:
          branch: 'develop'
          with_system_gcc: '1'

      - name: Build GameNetworkingSockets
        shell: bash
        run: |
          cd pragma
          cd modules
          git clone https://github.com/Silverlan/pr_steam_networking_sockets.git
          cd pr_steam_networking_sockets
          python -m third_party.GameNetworkingSockets
